@import url("colors.css");
/* .termite {
    background-color: @bg-color;
} */

#signup {
    background-color: rgb(81, 83, 85);
}

#login {
    background-color: blueviolet;
}

#signup:hover {
    color: #fff;
    background-color: blueviolet;
}

#login:hover {
    color: #fff;
    background-color: @bg-color;
}

#form {
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(50, 51, 53, 0.3);
    transition: transform 5s;
}

#login-page {
    background-image: url("../img/background.png");
}

entry {
    background-color: rgb(206, 210, 214);
    border: 1px solid rgb(95, 98, 102);
    color: black;
}

.error-label {
    color: red;
}

#revealer {
    background-color: rgb(54, 51, 51);
    animation: reveal 0.5s forwards;
}

@keyframes reveal {
    0% {
        transform: translateX(-380px);
    }
    100% {
        transform: translateY(0);
    }
}

.avatar {
    background-color: white;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

#menu-options row {
    background-color: rgb(54, 51, 51);
}

/* #menu-options row:hover {
    color: rgb(70, 68, 68);
} */

#BoxForImage{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

#quit{
    background-color: rgb(245, 245, 245);
    color: black;
    border-radius: 50px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#settings{
    background-color: rgb(245, 245, 245);
    color: black;
    border-radius: 50px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#quit:hover{
    background-color: @hover-bg-white-button;
}

#settings:hover{
    background-color: @hover-bg-white-button;
}

#avatar{
    border-width: 1px;
    border-radius: 30px;
    border-image: 6 23 6;
}

#WelcomeUser{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(217,217,217);
}

#BoxForLine{
    background-color: #000;
}

#right-side-menu{
    background-color: rgb(46, 17, 83);
}

#SettingsNameInSetMenu{
    color: rgb(217, 217, 217);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

#SettingsButtonReturn{
    border-radius: 50%;
    background-color:  rgb(46, 17, 83);
}

#home-page {
    background-color: @bg-color;
}

#ListInHomePage{
    background-color: rgb(46, 17, 83);
}

#ListInHomePageRow{
    background-color: rgb(245, 245, 245);
    color: black;
}
#ListInHomePageRow:hover{
    background-color: rgb(217, 217, 217);
    color: black;
}
#testAvatar{
    background-color: @bg-color;
}

/* list properties */
.usernameChatList{
    font-size: 22px;
    color: @text-black-color;
}
.semiboldChatList{
    font-size: 18px;
    color: @text-semibold-color;
}
.menu-option-item{
    /* background-color: @bg-color; */
    padding: 15px 10px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: rgb(66, 64, 64);
}
.menu-option-item:hover{
    background-color: rgb(95, 91, 91);
    color: white;
}

#BoxForColor{
    background-color: rgb(46, 17, 83);
    border-radius: 50%;
}

#Change{
    border-radius: 20px;
    background-color: rgb(46, 17, 83);
    color:rgb(245, 245, 245);
    border:2px solid rgb(245, 245, 245);
}
#Change:hover{
    background-color: rgb(211,211,211);
}

#Avatar{
    border-radius: 50%;
}