@import url("colors.css");

#signup {
    background-color: rgb(81, 83, 85);
    border-radius: 3px;
}

#login {
    background-color: blueviolet;
    border-radius: 3px;
}

#signup:hover {
    color: #fff;
    background-color: blueviolet;
}

#login:hover {
    color: #fff;
    background-color: rgb(100, 32, 163);
}

.form-wrapper {
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: 1px solid rgba(50, 51, 53, 0.3);
    box-shadow: 5px 5px 5px black;
}

.form-wrapper entry {
    border-radius: 3px;
}

entry {
    background-color: rgb(206, 210, 214);
    border: 1px solid rgb(95, 98, 102);
    color: black;
}

.error-label {
    color: red;
}

#revealer {
    background-color: rgb(100, 96, 96);
    animation: reveal 0.5s forwards;
}

@keyframes reveal {
    0% {
        transform: translateX(-380px);
    }
    100% {
        transform: translateY(0);
    }
}

.avatar {
    background-color: white;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

#menu-options row {
    background-color: rgb(100, 96, 96);
}

#menu-options row:hover {
    color: rgb(70, 68, 68);
}

#name {
    background-color:rgb(70, 68, 68);
}

.description {
    font-size: 20px;
}

.description-label {
    font-size: 32px;
}